<div class="row">
    <div class="col ">
        <p>As per "Dr. Dobb's Journal" , we are now one of the most trending applications in the
            market.</p>
    </div>
    <div class="col ">
        <ul>
            <img class="custom" src="assets/login-dashboard-cust-success.jpeg" />
        </ul>
    </div>
    <div class="col ">
        <p>We never compromise on holding the best secrity standards internationally domain.We offer
            you the best cyber secured user environment</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <img class="custom ml-3" src="assets/customer.jpg" style="width: 300px;" />

    </div>
    <div class="col">
        <ul>
            <li>
                <p>We Thankyou for being with us through the jourey and we promise to deliver you the best
                    service
                    round the clock.</p>
            </li>
            <li>
                <p>We are partnering with software tech companies like LTI (Larsen and Toubro) to further
                    enhance our User Interface
                </p>
            </li>
        </ul>
    </div>
</div>