<div class="jumbotron container  text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Hey Parent..!</h1>
                <h5>Wanna<span style="color: blue;"> Teach your child</span> the best habits of <span
                        style="color: red;">Spending.??</span></h5>
                <h5>You are on the <span style="color: green;">Right Page..</span></h5>
                <br />
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Explore more &raquo;</a></p>
            </div>
            <div class="col">
                <img src="assets/trans-homeloan-logo.png" class="logo">
            </div>
        </div>
    </div>
</div>
<div class="album container py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        src="assets/peer-pressure-spending-money.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Its a Great Application! My daughter likes to be very independent. Using this
                            app I am able to<span style="color: orange;font-weight: bold;"> keep track of her spending habits</span> and give
                            her her freedom.
                            It is also<span style="color: blue;font-weight: bold;"> very convinient </span>as
                            allowance is sent automatically in the selected periods of
                            time</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">*from US</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="height: 232px;"
                        src="assets/v4-460px-Save-Money-as-a-Kid-Step-5-Version-5.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This application is very easy and<span style="color: rgb(255, 0, 0);font-weight: bold;"> straightforward </span>to use even for a
                            non-tech person.
                            It is a great way to prevent kids from spending their money on <span style="color: rgb(81, 255, 0);font-weight: bold;">absurd things.</span> </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">*from India</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        src="assets/GettyImages-1063784384-fdd2b33264bc4d048f9d443e3d3bf7d1.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            Love this app. Using this app has made kids<span style="color: rgb(0, 26, 255);font-weight: bold;"> learn the value of money </span>and made them
                            responsible.
                            My child is now learning the concept of mindful spending as she is limited to the amount
                            transferred to her account.
                            As I get to <span style="color: rgb(212, 51, 191);font-weight: bold;"> see all of the purchases </span>I can stay on top of her spending. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">*from Australia</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="jumbotron container text-center">
    <div class="container">
        <h1 class="jumbotron-heading">and many more Success Stories...</h1>
        <p>We are handling over more then 1 Million Users annually and now experiencing an increasing demand of
            10
            Thousand new users
            every month.</p>
        <p class="lead text-muted">We get tons of emails and a countless of acknowledgments every month...</p>
        <p>Do you want to be one amoung those million happy users, Come join us today..</p>
    </div>
    <img src="assets/handshake.png" style="height: 80px; width: 220px;">
</section>