<footer class="page-footer container font-small stylish-color-dark pt-4 custom-top">
    <div class=" text-center container text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Reach Us..</h5>
                <p>For all your Queries and Concerns.,<br>
                    Reach us through our social media platforms..
                </p>
                <p>You can also reach us through mail at: <a
                        href="mailto:powerhouse@solvathon.com">powerhouse@Solvathon.com</a></p>
                <p>We are here to help you 24*7</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <div class="mouse_scroll">

                    <div class="mouse">
                        <div class="wheel"></div>
                    </div>
                    <div>
                        <span class="m_scroll_arrows unu"></span>
                        <span class="m_scroll_arrows doi"></span>
                        <span class="m_scroll_arrows trei"></span>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Youtube</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <hr class="clearfix w-100 d-md-none">
        </div>
    </div>
</footer>
<footer class="container">
    <div class="text-center p-2 custom" >
        <span class="text-white"> © 2020 Copyright: <i> PowerHouse @Parental Control</i> @Solvathon</span>
    </div>
</footer>