.form-1-box { padding-top: 30px; text-align: left; }
 
.form-1-box legend {
    font-size: inherit;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
}
 
.form-1-box .form-check-label {
    line-height: 1.5;
    vertical-align: top;
}
 
.form-1-box input[type="text"],
.form-1-box input[type="email"],
.form-1-box input[type="password"],
.form-1-box input[type="number"] {
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    box-shadow: none;
}
 
.form-1-box input[type="text"]:focus,
.form-1-box input[type="email"]:focus,
.form-1-box input[type="password"]:focus,
.form-1-box input[type="number"]:focus {
    outline: 0;
    background: none;
    border: 1px solid #db5d50;
    box-shadow: none;
}
 
.form-1-box input[type="text"]::-moz-placeholder,
.form-1-box input[type="email"]::-moz-placeholder,
.form-1-box input[type="password"]::-moz-placeholder,
.form-1-box input[type="number"]::-moz-placeholder {
    color: #bbb;
    font-style: italic;
}
 
.form-1-box input[type="text"]:-ms-input-placeholder,
.form-1-box input[type="email"]:-ms-input-placeholder,
.form-1-box input[type="password"]:-ms-input-placeholder,
.form-1-box input[type="number"]:-ms-input-placeholder {
    color: #bbb;
    font-style: italic;
}
 
.form-1-box input[type="text"]::-webkit-input-placeholder,
.form-1-box input[type="email"]::-webkit-input-placeholder,
.form-1-box input[type="password"]::-webkit-input-placeholder,
.form-1-box input[type="number"]::-webkit-input-placeholder {
    color: #bbb;
    font-style: italic;
}
 
.form-1-box button.btn-customized {
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    box-shadow: none;
}
 
.form-1-box button.btn-customized:hover, 
.form-1-box button.btn-customized:active, 
.form-1-box button.btn-customized:focus, 
.form-1-box button.btn-customized:active:focus, 
.form-1-box button.btn-customized.active:focus,
.form-1-box button.btn.btn-primary:not(:disabled):not(.disabled):active,
.form-1-box button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background:blue;
    border: 0;
    color: #fff;
    box-shadow: none;
}
